In [53]:
# IMPORTS

import pandas as pd

In [54]:
# FILES AND FOLDERS

folder_path = "C:\\Users\\tiago.lima\\_dc_project\\fonte_dados\\faturamento\\SAM\\frete"
file = "12 - Frete Dezembro 2023 - Geral - Cliente.xlsx"
file_path = f"{folder_path}/{file}"

In [55]:
# METHODS

# DIFINE SKIPROWS
def determine_skiprows(file_path, sheet_name):
    # Leitura inicial para inspecionar as primeiras linhas do arquivo
    sample_data = pd.read_excel(file_path, sheet_name=sheet_name, nrows=10, engine="openpyxl")
    
    # Identifica a linha onde a coluna 1 contém o primeiro valor não nulo
    for i, value in enumerate(sample_data.iloc[:, 0], start=1):
        if not pd.isnull(value):
            return i

    # Se não encontrarmos dados nas primeiras 10 linhas, padrão para 0
    return 0

In [56]:
# SHEETS

sheet_name = 'Geral'
skiprows = determine_skiprows(file_path,sheet_name)

In [57]:
df = pd.read_excel(file_path ,sheet_name=sheet_name ,skiprows=skiprows ,engine="openpyxl")

In [58]:
# COLUMN LIST
header = df.columns.tolist()
print(header)

['SOLICITANTE', 'SS', 'N° OS', 'GRUPO', 'SUBGRUPO', 'CAMPANHA', 'PRODUTO', 'DATA SOLICITAÇÃO', 'DESTINATARIO', 'CNPJ', 'CIDADE', 'UF', 'REGIÃO', 'PESO', 'VALOR NF', 'AD VALOREM', 'MODAL', 'TIPO', 'FRETE', 'DIARIA', 'ICMS', 'DIFAL', 'ESCOLTA', 'FRETE + IMPOSTOS', 'Unnamed: 24']

In [59]:
# PRINT COLUMN NAME
header[24]

'Unnamed: 24'

In [60]:
# COUNT COLUMNS
len(header)

25

In [68]:
for col in header:
    print(col)

SOLICITANTE
SS
N° OS
GRUPO
SUBGRUPO
CAMPANHA
PRODUTO
DATA SOLICITAÇÃO
DESTINATARIO
CNPJ
CIDADE
UF
REGIÃO
PESO
VALOR NF
AD VALOREM
MODAL
TIPO
FRETE
DIARIA
ICMS
DIFAL
ESCOLTA
FRETE + IMPOSTOS
Unnamed: 24