In [160]:
# IMPORTS
import pandas as pd
import openpyxl

In [174]:
# INFORMATIONS FILE AND DATA
#FILES
folder_path = "C:\\Users\\tiago.lima\\_dc_project\\fonte_dados\\faturamento\\SAM\\frete"
file = "12 - Frete Dezembro 2023 - Geral - Cliente.xlsx"
file_path = f"{folder_path}/{file}"

#SHEET
sheet_name = "Geral"
skiprows = 0

In [175]:
# READ EXCEL(.xlsx)

In [176]:
def determine_skiprows(file_path, sheet_name):
    # Leitura inicial para inspecionar as primeiras linhas do arquivo
    sample_data = pd.read_excel(file_path, sheet_name=sheet_name, nrows=10, engine="openpyxl")
    
    # Identifica a linha onde a coluna 1 contém o primeiro valor não nulo
    for i, value in enumerate(sample_data.iloc[:, 0], start=1):
        if not pd.isnull(value):
            return i

    # Se não encontrarmos dados nas primeiras 10 linhas, padrão para 0
    return 0

In [177]:
skiprows = determine_skiprows(file_path, sheet_name)

In [178]:
print(skiprows)

3

In [179]:
df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=skiprows, engine="openpyxl" )
df.head()

,SOLICITANTE,SS,N° OS,GRUPO,SUBGRUPO,CAMPANHA,PRODUTO,DATA SOLICITAÇÃO,DESTINATARIO,CNPJ,...,AD VALOREM,MODAL,TIPO,FRETE,DIARIA,ICMS,DIFAL,ESCOLTA,FRETE + IMPOSTOS,Unnamed: 24
0,ROSEMEIRE COLONHESI,3593715,031204/23,BRANDSHOP,BRANDSHOP,(12023) ENTREGA DE POSITIVACAO SES METROPOLE,NaN,2023-12-07,CIL COMERCIO DE INFORMATICA LTDA,2.407369e+13,...,269.261888,EXCLUSIVO,NaN,935.979418,NaN,NaN,NaN,NaN,935.979418,NaN
1,SILVESTER SANCHES,3593508,031156/23,BRANDSHOP,BRANDSHOP,(12054) ENVIO PRECIFICADOR SES,NaN,2023-12-06,ALLIED TECNOLOGIA S.A.,2.024732e+13,...,88.618488,EXCLUSIVO,NaN,400.702828,NaN,NaN,NaN,NaN,400.702828,NaN
2,SILVESTER SANCHES,3593265,031049/23,IM - TRADE MARKETING,HHP,(12056) COLETA E ENTREGAS ESC S_ 34 ENVIOS,NaN,2023-12-05,DEAL4B SOLUCOES EM TECNOLOGIA LTDA,1.835540e+13,...,39.950064,EXCLUSIVO,NaN,585.397800,NaN,NaN,NaN,NaN,585.397800,NaN
3,SILVESTER SANCHES,3593266,031049/23,IM - TRADE MARKETING,HHP,(12056) COLETA E ENTREGAS ESC S_ 34 ENVIOS,NaN,2023-12-05,LIKE SERVICE CENTER LTDA,3.982892e+13,...,39.950064,EXCLUSIVO,NaN,585.397800,NaN,NaN,NaN,NaN,585.397800,NaN
4,SILVESTER SANCHES,3593267,031049/23,IM - TRADE MARKETING,HHP,(12056) COLETA E ENTREGAS ESC S_ 34 ENVIOS,NaN,2023-12-05,2FC COMERCIO E SERVICOS LTDA,3.968641e+13,...,39.950064,EXCLUSIVO,NaN,585.397800,NaN,NaN,NaN,NaN,585.397800,NaN